div.container {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 50px;
  border: solid red 1px;
}

.repository-item {
  display: grid;
  list-style: none;
  gap: 10px;
}

.repository-btn {
  padding: 15px 30px;
  border-radius: 6px;
  background-color: red;
}
